<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Hello, {{user.username}}</p>

  <p>
    Use the code below to update your password: <br>
    {{token}}
  </p>

  <p>
    Your code expires in {{convertDate tokenExpires}}.
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>
</div>
