<style>
    * {
    color: black;
  }

  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{user.username}}</p>

  <p>
    Your password has been successfully updated.
  </p>

  <p>
    If you have not updated your password yourself,
    please use the link below to recover your password by e-mail: <br>
    {{appConfig.url}}/auth/password/forgot
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>

</div>
