<style>
  body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Hello, {{user.username}}</p>

  <p>
    You are no longer an admin, if you think this action was wrong, <strong>just cry</strong> <br>
    Or kill {{adminUsername}}.
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>

</div>
