<style>
  body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Hello, {{user.username}}</p>

  <p>
    Your password has been updated.<br>
    If this is wrong, use password recovery
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>

</div>
