<style>
  body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Hello, {{user.username}}</p>

  <p>
    Welcome to the blog, please check your e-mail to login
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>
</div>
