<style>
    * {
    color: black;
  }

  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{user.username}}</p>

  <p>
    Welcome to the blog, enjoy all the features by checking your email through the link
    {{appConfig.url}}/auth/email/verify
  </p>

  <p>
    Thank you!<br />
    <strong>{{appConfig.name}}</strong>
  </p>

</div>
